# Ignore everything
*
	
# But descend into directories
!*/
	
# but still exclude generated folders
*.egg-info/
*.ipynb_checkpoints/
*node_modules
*dist
*.pnp
*coverage
*build

# And permit certain files
!.gitignore
!LICENSE

# And filetypes
!*.sh
!*.yml
!*.yaml
!*.json
!*.tsx
!*.ts
!*.jsx
!*.js
!*.css
!*.svg
!*.html
!*.md
!*.sql
!*.graphql
!.prettierrc
!*.lintstagedrc
!Dockerfile
!pre-commit
	
# And certain folders, regardless of content
!*assets/*
!*public/*
