.section {
  margin-left: calc(var(--mantine-spacing-md) * -0.4);
  margin-right: calc(var(--mantine-spacing-md) * -0.5);
  margin-bottom: var(--mantine-spacing-md);
}

.mainLinks {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-right: calc(var(--mantine-spacing-md) - var(--mantine-spacing-xs));
  padding-bottom: var(--mantine-spacing-md);
}

.mainLink {
  border-radius: var(--mantine-radius-sm);
}
