.search {
  height: 34px;
  padding-left: var(--mantine-spacing-sm);
  padding-right: 4px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-placeholder);
  border: 1px solid;
  border-color: var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-6);
}

.shortcut {
  font-size: 11px;
  line-height: 1;
  padding: 4px 7px;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid;
  font-weight: bold;
  color: var(--mantine-color-dark-0);
  border-color: var(--mantine-color-dark-7);
  background-color: var(--mantine-color-dark-7);
}

.control {
  --discord-color: #5865f2;
  --discord-color-hover: #4f5bd5;

  width: 34px;
  height: 34px;
  border-radius: var(--mantine-radius-md);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;

  [data-mantine-color-scheme] & {
    background-color: var(--discord-color);
    border-color: var(--discord-color);
    color: var(--mantine-color-white);

    @mixin hover {
      background-color: var(--discord-color-hover);
      border-color: var(--discord-color-hover);
    }
  }
}
