.main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @media (min-width: 640px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.oauthButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.signUp {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}
